<!DOCTYPE html>
<html ng-app="TinyTwitt">
  <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
   <script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="tinytwittscript.js"></script>
    <title>Tiny Twitt</title>
  </head>

  <body ng-controller="TController" style="background-color: #00aced; font-family: Comic sans MS">
    <h1>Tiny Twitter</h1>
  <div class="container" style="padding-top: 16px">
		<div class="row">
 <!--   <table>
      <tr>
        <td colspan="2" style="font-weight:bold;">Available Servlets:</td>        
      </tr>
      <tr>
        <td><a href="/TinyTwitt">The servlet</a></td>
      </tr>
    </table>
-->
    <!-- Button for creating a new account -->
						<form novalidate ng-submit="register()"
							style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px" ng-hide="log">
							<div class="form-group">
								<label>User : <input type="text"
									placeholder="User" class="form-control"
									ng-model="userlogin"></label> <label>Email: <input
									type="text" placeholder="Email" class="form-control"
									ng-model="usermail"></label> <label>Password: <input
									type="password" placeholder="Password" class="form-control"
									ng-model="userpw"></label> <label>Firstname: <input
									type="text" placeholder="Firstname" class="form-control"
									ng-model="userfirstname"></label> <label>Lastname: <input
									type="text" placeholder="Lastname" class="form-control"
									ng-model="userlastname"></label>
							</div>
							<button type="submit" class="btn btn-default">Register now</button>
						</form>
    

        <!-- Button for connecting to your account -->
						<form novalidate ng-submit="connexion(login)"
							style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px" ng-hide="log">
							<div class="form-group">
								<label>User :</label> <input type="text"
									placeholder="Pseudo" class="form-control" ng-model="login">
							</div>
							
							<button type="submit" class="btn btn-default">Sign In</button>
                        </form>
                        
                        <!-- Button for deconnecting to your account -->
						<form ng-submit="deconnexion()" ng-show="log">
							<div>
								<button type="submit" class="btn btn-default">Sign Out</button>
							</div>
                        </form> 
                        
                         <!-- Button for making a tweet -->
						<div class="col-md-12">
                            <h3 ng-show="!log"><font color="red">Please connect</font></h3>
							<h3 ng-show="log">
                                <form class="form-inline" ng-submit="postTwitt()" style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px" ng-show="log">
                                    <p>{{login}} connected.</p>
								<label class="sr-only" for="inlineFormInputTwitt">Tweet :</label> <input
									type="text" class="form-control col-md-10 mb-2 mr-sm-2 mb-sm-0" placeholder="Tweet"
									ng-model="message">
								<button type="submit" class="btn btn-primary">Tweeter</button>
                            </form>
                        </h3>
                        </div>
                   
                        
					
						

                        <!-- Button for follow a user -->
						<div class="col-md-3">
				            <form ng-submit="follow(followed)" style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px" ng-show="log">
					            <div class="form-group">
						            <label>Follow who? :</label> <input type="text" class="form-control"
							        ng-model="followed" placeholder="Pseudo">
					            </div>
					             <button type="submit" class="btn btn-default">Follow</button>
                             </form>
						</div>
                            
                        <!-- Button for test -->
                         <form novalidate ng-submit="twittnbfollowers(pseudon,nbfollowerstest)"
							style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px" >
                            <label>Test de l'envoi de 1 twitt pour 100, 1000, 5000 followers :</label>
                            <input type="text" class="form-control"
                                    ng-model="pseudon" placeholder="Pseudo">
                             <input type="text" class="form-control"
							         ng-model="nbfollowerstest" placeholder="nb">
                            <button type="submit" class="btn btn-default">Test</button>
                            <label><br />Résultat : {{tnbfollowers}}</label>
                            <div class="col-md-12" style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px">
					            <p>{{listtemps}} </p>
				             </div>
                        </form>
                        
                        <!-- Button for test -->
                         <form novalidate ng-submit="twittgetlast10(pseudal10,nbfollowerstest10)"
							style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px" >
                            <label>Test de la récupération des 10 derniers tweets pour 100, 1000, 5000 followers :</label>
                            <input type="text" class="form-control"
                                    ng-model="pseudal10" placeholder="Pseudo">
                             <input type="text" class="form-control"
							         ng-model="nbfollowerstest10" placeholder="nb">
                            <button type="submit" class="btn btn-default">Test</button>
                            <label><br />Resultat :</label>
                            <div class="col-md-12" style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px"
                            ng-repeat="y in last10tweets">
					<p>{{y.author}} wrote on {{y.date}} :</p>
					<p>{{y.message}}</p>
				        </div>
                    </form>
                    
                     <!-- Button for test -->
                         <form novalidate ng-submit="twittgetlast50(pseudal50,nbfollowerstest50)"
							style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px" >
                            <label>Test de la récupération des 50 derniers tweets pour 100, 1000, 5000 followers :</label>
                            <input type="text" class="form-control"
                                    ng-model="pseudal50" placeholder="Pseudo">
                             <input type="text" class="form-control"
							         ng-model="nbfollowerstest50" placeholder="nb">
                            <button type="submit" class="btn btn-default">Test</button>
                            <label><br />Resultat :</label>
                            <div class="col-md-12" style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px"
                            ng-repeat="y in last50tweets">
					<p>{{y.author}} wrote on {{y.date}} :</p>
					<p>{{y.message}}</p>
				        </div>
                    </form>
                    
                     <!-- Button for test -->
                         <form novalidate ng-submit="twittgetlast100(pseudal100,nbfollowerstest100)"
							style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px" >
                            <label>Test de la récupération des 100 derniers tweets pour 100, 1000, 5000 followers :</label>
                            <input type="text" class="form-control"
                                    ng-model="pseudal100" placeholder="Pseudo">
                             <input type="text" class="form-control"
							         ng-model="nbfollowerstest100" placeholder="nb">
                            <button type="submit" class="btn btn-default">Test</button>
                            <label><br />Resultat :</label>
                            <div class="col-md-12" style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px"
                            ng-repeat="y in last100tweets">
					<p>{{y.author}} wrote on {{y.date}} :</p>
					<p>{{y.message}}</p>
				        </div>
                    </form>
                    



                        <!-- Button for show timeline of a user -->
					<div>
						<div class="col-md-12"  style="background-color: #F5EEEA">
							<form class="form-inline" ng-submit="timeline(search)">
								<label>Name of the user timeline to search:</label> <input type="text"
									placeholder="Pseudo" class="form-control" ng-model="search">
								<button type="submit" class="btn btn-primary">search</button>
							</form>
                        </div>

                        <div class="col-md-12" style="background-color: #E6D5CA; border: 1px #F5EEEA solid; padding: 5px"
					 ng-repeat="x in listtwitt">
					<p>{{x.author}} wrote on {{x.date}} :</p>
					<p>{{x.message}}</p>
				        </div>
                    </div>
    
                   
                        
			</div>
    </div>			

						

                

                
         
        <script>
		var init = function() {
			console.log("init called");
			window.init();
		};
	</script>

    <script src="https://apis.google.com/js/client.js?onload=init"></script>
    
  </body>
</html>